ul {
  position: fixed;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #63214e;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

body {
  margin: 0;
}

a {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  line-height: 50px; 
}