ul {
  position: fixed;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #63214e;
  width: 100%;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  text-align: center;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: #e6c8dc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #915a80;
}

body {
  margin: 0;
  color: black;
  padding-top: 50px;
  background-color: #e6c8dc;
}

h1 {
    text-align: center;
    font: 56px Georgia, sans-serif;
    color: #611045;
}

h2 {
    text-align: center;
    font: 36px Georgia, sans-serif;
}

h3 {
    text-align: center;
    font: 28px Georgia, sans-serif;
    color: #611045;
}

p {
  font: 18px Georgia, sans-serif;
  color: black;
  text-align: left;
}


.circle-crop {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}

/* Intro Section */
.intro-section {
    background-color: #cc99ba;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.intro-text {
    text-align: center;
}

.intro-text h1 {
    font: 56px Georgia, sans-serif;
    color: #611045;
}

.intro-text h2 {
    font: 36px Georgia, sans-serif;
    color: #451836;
}

.intro-text p {
  font: 18px Georgia, sans-serif;
  color: black;
  text-align: left;
}

.flex-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex-col {
    flex: 1;
    text-align: center;
}

.flex-col p {
    text-align: left;
}

/* Optional: Stacks columns vertically on mobile screens */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}



/* Footer Section*/
footer {
  background-color: #63214e;
  color: #e6c8dc;
  padding: 20px 0;
  text-align: center;
  height: 30px;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-bottom: 15px;
}

.footer-container img {
  width: 40px; 
  height: 40px; 
  object-fit: contain; 
  transition: transform 0.2s ease; 
}

/* Optional hover effect */
.footer-container img:hover {
  transform: scale(1.1); 
}